.title {
    font-size: extra-large;
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}

h2 {
    color: lightseagreen;
}

table {
    border: 5px solid black;
    color: orangered;
    padding-top: 10px;
}

img {
    border-radius: 50%;
    width: 40%;
    box-shadow: 25px 50px gray;
}

div {
    position: relative;
    animation: pic_move 5s infinite;
}

@keyframes pic_move {
    from {
        left: 0px;
    }
    to {
        left: 500px;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: khaki;
}