* {
    font-family: Poppins,sans-serif!important;
}

body {
    background-color: #eaeff6;
    display: block;
    margin: 8px;
}

.navbar {
    background: #fff;
    width: 98.9vw;
    padding: 0;
    margin: -.5rem 0 1.875rem;
    border-top: 5px solid #43aaa8;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
}

.navbar_text {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
    margin-bottom: 10px;
}

#about {
    background: #fff;
    width: 50vw;
    padding: 0;
    /* margin: -.5rem 0 1.875rem; */
    border-top: 5px solid #43aaa8;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    margin-top: 50px;
    margin-bottom: 100px;
    margin: 0 auto;
    padding: 8px;
}

#about_text {
    text-align: center;
    display: block;
    font-size: 15px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
}

h2 > p {
    margin-top: 20px;
    font-size: medium;
    text-align: center;
    margin-bottom: 50px;
}

img {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 50px;
}

#headers {
    border: 100px solid black;
}

table {
    border: 1px solid rgb(167, 53, 53);
    padding-top: 10px;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer {
    border-top: 0.1pt solid #a0aec0;
    width: 100%;
}
  
.footer_text {
    font-size: 11pt;
    text-align: center;
    color: #4a5568;
    padding-top: 5px;
}